{% extends 'layout/landing.html' %}

{% load static %}


{% block body %}


<div class="container">
  <div class="page-banner home-banner">
    <div class="row align-items-center flex-wrap-reverse h-100">
      <div class="col-md-6 py-5 wow fadeInLeft">
        <h1 class="mb-4">Meet ProbeQ!</h1>
        <p class="text-lg text-grey mb-5">Welcome to ProbeQ AI Create Unique and Engaging Content with AI-Powered Generator
          Are you tired of spending hours brainstorming and writing content for your website, blog, or social media? ProbeQ AI is here to revolutionize your content creation process. Our AI-powered platform generates high-quality and customized content, saving you valuable time and effort.
          Save time with AI content generation- Say goodbye to writer's block and endless research. Our advanced AI algorithms generate unique and engaging content in minutes, allowing you to focus on other aspects of your business.</p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
      <div class="col-md-6 py-5 wow zoomIn">
        <div class="img-fluid text-center">
          <img src="{% static '/landing/img/ai_blog_writing_assistance.png' %}" alt="AI Blog Writing Assistance">
        </div>
      </div>
    </div>
    <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
  </div>
</div>
</header>

<div class="page-section">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        <div class="header">
          <img src="{% static '/landing/img/services/ai_creation.png' %}" alt="">
        </div>
        <div class="body">
          <h5 class="text-secondary">Blog helper</h5>
          <p>Introducing ProbeQ AI - Your Online Blog Writing Assistance Are you looking for a reliable and efficient solution to help you create captivating, well-written blog posts? Look no further than ProbeQ AI – the ultimate online blog writing assistance powered by artificial intelligence.  Our cutting-edge AI technology ensures that every blog post generated is unique, well-structured, and crafted to captivate your readers. With ProbeQ AI, you can streamline your blogging process and take your content to the next level.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        <div class="header">
          <img src="{% static '/landing/img/services/service-2.svg' %}" alt="">
        </div>
        <div class="body">
          <h5 class="text-secondary">Content Marketing</h5>
          <p>Are you in search of an innovative and efficient way to create compelling marketing content? Look no further than ProbeQ AI – the game-changing platform that harnesses the power of artificial intelligence to revolutionize your content creation process. With ProbeQ AI, you can generate a wide range of marketing content with ease, including social media captions, email newsletters, website copy, ad copy, and much more.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        <div class="header">
          <img src="{% static '/landing/img/services/service-3.svg' %}" alt="">
        </div>
        <div class="body">
          <h5 class="text-secondary">Social Media Helper</h5>
          <p>Are you tired of struggling to create engaging and impactful social media content? Look no further than ProbeQ AI – the cutting-edge platform that leverages artificial intelligence to transform your social media game. Quick and Efficient Content Generation: Say goodbye to writer's block and spend less time creating content. Our AI-powered platform generates content in minutes, saving you precious time and effort.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section" id="about">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 py-3 wow fadeInUp">
      <span class="subhead">About us</span>
      <h2 class="title-section">ProbeQ AI: Simplify Content Creation with the Power of Artificial Intelligence</h2>
      <div class="divider"></div>

      <p>With a team of experienced AI researchers and developers, we have developed advanced algorithms and natural language processing techniques to ensure that every piece of content generated by ProbeQ AI is of the highest quality. We understand the importance of content in today's digital landscape and strive to empower our users to create content that resonates with their target audience.</p>
      <p>We pride ourselves on offering an intuitive and user-friendly platform that does not require any technical knowledge or writing expertise. Whether you are a seasoned content creator or a beginner, ProbeQ AI is designed to make content creation accessible to all.</p>
      <a href="#" class="btn btn-primary mt-3">Read More</a>
    </div>
    <div class="col-lg-6 py-3 wow fadeInRight">
      <div class="img-fluid py-3 text-center">
        <img src="{% static '/landing/img/ai_creation.png' %}" alt="">
      </div>
    </div>
  </div>
</div> <!-- .container -->
</div> <!-- .page-section -->


<div class="page-section banner-seo-check">
<div class="wrap bg-image" style="background-image: url(/landing/img/bg_pattern.svg);">
  <div class="container text-center">
    <div class="row justify-content-center wow fadeInUp">
      <div class="col-lg-8">
        <h2 class="mb-4">Ready to stay up to date with the latest news and updates? Join our ProbeQ mailing list today!</h2>
        <form action="#">
          <input type="text" class="form-control" placeholder="user@gmail.com">
          <button type="submit" class="btn btn-success">Join Mailing List</button>
        </form>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .wrap -->
</div> <!-- .page-section -->

<div class="page-section">
<div class="container">
  <div class="text-center wow fadeInUp">
    <div class="subhead">Pricing Plan</div>
    <h2 class="title-section">Choose plan the right for you</h2>
    <div class="divider mx-auto"></div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 py-3 wow zoomIn">
      <div class="card-pricing">
        <div class="header">
          <div class="pricing-type">Free</div>
          <div class="price">
            <span class="dollar">$</span>
            <h1>0<span class="suffix">.00</span></h1>
          </div>
          <h5>Per Month</h5>
        </div>
        <div class="body">
          <p>3000 Characters <span class="suffix">Per Month</span></p>
          <p>All Use cases</p>
          <p>30+ Langauges </p>
          <p>All Voice Tones </p>
        </div>
        <div class="footer">
          <a href="#" class="btn btn-pricing btn-block">Start for Free</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 py-3 wow zoomIn">
      <div class="card-pricing marked">
        <div class="header">
          <div class="pricing-type">Starter Writer</div>
          <div class="price">
            <span class="dollar">$</span>
            <h1>9<span class="suffix">.99</span></h1>
          </div>
          <h5>Per Month</h5>
        </div>
        <div class="body"> <p>40000 Characters <span class="suffix">Per Month</span></p>
          <p>All Use cases</p>
          <p>30+ Langauges </p>
          <p>All Voice Tones </p>
        </div>
        <div class="footer">
          <a href="#" class="btn btn-pricing btn-block">Subscribe</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 py-3 wow zoomIn">
      <div class="card-pricing">
        <div class="header">
          <div class="pricing-type">Advanced Writer</div>
          <div class="price">
            <span class="dollar">$</span>
            <h1>29<span class="suffix">.99</span></h1>
          </div>
          <h5>Per Month</h5>
        </div>
        <div class="body">
          <p>Unlimited <span class="suffix">Per Month</span></p>
          <p>All Use cases</p>
          <p>30+ Langauges </p>
          <p>All Voice Tones </p>
        </div>
        <div class="footer">
          <a href="#" class="btn btn-pricing btn-block">Subscribe</a>
        </div>
      </div>
    </div>

  </div>
</div> <!-- .container -->
</div> <!-- .page-section -->

<!-- Banner info -->
<div class="page-section banner-info">
<div class="wrap bg-image" style="background-image: url(/landing/img/bg_pattern.svg);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
        <h2 class="title-section">Elevate Your Brand with ProbeQ AI: Streamline Content Creation and Engage Your Audience <br> Visibility</h2>
        <div class="divider"></div>
        <p>At ProbeQ AI, we understand the importance of building a strong and impactful brand. That's why we are committed to helping businesses and individuals elevate their brand to new heights. With our AI-powered content creation platform, you can create compelling and personalized content that aligns with your brand identity and resonates with your target audience. From engaging social media posts to captivating blog articles, we provide the tools and resources to enhance your brand's visibility and make a lasting impression. Take control of your brand image and unlock its full potential with ProbeQ AI.</p>
        
        <ul class="theme-list theme-list-light text-white">
          <li>
            <div class="h5">ProbeQ AI Content Strategy</div>
            <p>Streamlined Workflow: Save time and effort with our user-friendly interface.</p>
          </li>
          <li>
            <div class="h5">AI Powered</div>
            <p>Data-driven Insights: Gain valuable insights into your target audience, their preferences, and the content that resonates most with them. Make informed decisions when planning your content strategy to maximize engagement and conversions.</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 py-3 wow fadeInRight">
        <div class="img-fluid text-center">
          <img src="{% static '/landing/img/banner_image_2.svg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div> <!-- .wrap -->
</div> <!-- .page-section -->

<!-- Blog -->
<div class="page-section">
<div class="container">
  <div class="text-center wow fadeInUp">
    <div class="subhead">Our Blog</div>
    <h2 class="title-section">Read Latest News</h2>
    <div class="divider mx-auto"></div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 py-3 wow fadeInUp">
      <div class="card-blog">
        <div class="header">
          <div class="post-thumb">
            <img src="{% static '/landing/img/blog/blog-1.jpg' %}" alt="">
          </div>
        </div>
        <div class="body">
          <h5 class="post-title"><a href="#">Source of Content Inspiration</a></h5>
          <div class="post-date">Posted on <a href="#">09 Sep 2023</a></div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 py-3 wow fadeInUp">
      <div class="card-blog">
        <div class="header">
          <div class="post-thumb">
            <img src="{% static '/landing/img/blog/blog-2.jpg' %}" alt="">
          </div>
        </div>
        <div class="body">
          <h5 class="post-title"><a href="#">Source of Content Inspiration</a></h5>
          <div class="post-date">Posted on <a href="#">09 Sep 2023</a></div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 py-3 wow fadeInUp">
      <div class="card-blog">
        <div class="header">
          <div class="post-thumb">
            <img src="{% static '/landing/img/blog/blog-3.jpg' %}" alt="">
          </div>
        </div>
        <div class="body">
          <h5 class="post-title"><a href="#">Source of Content Inspiration</a></h5>
          <div class="post-date">Posted on <a href="#">09 Sep 2023</a></div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4 text-center wow fadeInUp">
      <a href="#" class="btn btn-primary">View More</a>
    </div>
  </div>
</div>
</div>

{% endblock %}